<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit product</title>
</head>
<body>

    <h1>Edit product</h1>
    <form action="/edit/<%= product.id %>" method="POST" enctype="multipart/form-data">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" value="<%= product.name %>" required placeholder="enter product name">
        </div>

        <div>
            <label for="description">Description:</label>
            <textarea name="description" required placeholder="enter product description">
                <%= product.description %>
            </textarea>
        </div>

        <div>
            <label for="image">Image:</label>
            <% if (product.image) { %>
                <img src="/uploads/<%= product.image %>" width="100" />
                <input type="hidden" name="oldImage" value="<%= product.image %>">
            <% } %>
            <input type="file" name="image">
        </div>

        <button type="submit">Update</button>
    </form>

    <hr>
    <a href="/">Go back</a>

</body>
</html>